@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
/*Основные стили */
* {
  padding: 0;
  margin: 0
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;

}

a {
  text-decoration: none;
}

.main-header-nav__list,
.slider__list,
.slider__switcher-list {
  list-style: none;
  padding-left: 0;
}

.services__list,
.about-company__rpart-list,
.partner-logo__list {
  list-style: none;
}

.filter__grid-list,
.filter__features-list {
  list-style: none;
}

.catalog__sort-menu-list,
.catalog__list,
.catalog__sort-ascdesc-list {
  list-style: none;
}

.paginator__list {
  list-style: none;
}

.footer__list {
  list-style: none;
}

/*Основные блоки и их модификаторы*/
.button {
  min-height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button--red {
  background-color: #fb565a;
  border: none;
}

.button--red:focus,
.button--red:hover {
  background-color: #e74246;
  outline: none;
}

.button--red:active {
  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--green:focus,
.button--green:hover {
  background-color: #00bc6c;
}

.button--green:active {
  background-color: #00aa62;
}

.button--yellow {
  background-color: #efc84a;
}

.button--yellow:focus,
.button--yellow:hover {
  background-color: #eab534;
}

.button--yellow:active {
  background-color: #e5a722;
}

.button--grey {
  background-color: #eeeeee;
  color: #000000;
  border: none;
}

.button--grey:focus,
.button--grey:hover {
  background-color: #dfdfdf;
  border: none;
  outline: none;
}

.button--grey:active {
  background-color: #d5d5d5;
  color: rgba(00, 00, 00, 0.3);
  border: none;
  outline: none;
}

.text--grey {
  color: #666666;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

/*Блоки сетки*/
.outline22 { /*TODO Убрать потом*/
  outline: 1px solid red;
}

.outline23 { /*TODO Убрать потом*/
  outline: 1px solid blue;
}

.outline24 { /*TODO Убрать потом*/
  outline: 1px solid green;
}

.main-header {
  width: 1440px;
  margin: 0 auto;
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-header-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 140px;
  /*margin-bottom: 64px;*/
}

.main-header-nav {
  width: 800px;
  display: flex;
  margin-right: 245px;
}

.main-header-nav__list {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-left: 0;
}

.main-header__cart-container {
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.slider {
  padding-left: 140px;
}

.slider__item {
  min-height: 355px;
  padding-top: 78px;
  background-size: auto;
  background-repeat: no-repeat;
}
.slider__item--first-slide {
  background-image: url("../img/slide1.png");
  background-position: 430px 19px;
}

.slider__item--second-slide {
  background-image: url("../img/slide2.png");
  background-position: 495px 0;
}
.slider__item--third-slide {
  background-image: url("../img/slide3.png");
  background-position: 400px 20px;
}


.slider__button {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Остальные блоки*/
.main-header-nav__logo-img {
  margin-right: 200px;
}

.main-header-nav__logo-img:hover,
.main-header-nav__logo-img:focus {
  opacity: 0.8;
}

.main-header-nav__logo-img:active {
  opacity: 0.3;
}

.main-header-nav__link,
.main-header__cart-link {
  line-height: 1.875;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header-nav__link:hover,
.main-header__cart-link:hover,
.main-header-nav__link:focus,
.main-header__cart-link:focus {
  color: #fb565a;
  outline: none;
}

.main-header-nav__link:active,
.main-header__cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header-nav__link--active {
  border-bottom: 2px solid #fb565a;
}

.slider__slogan {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 27px;
}

.slider__slogan--first-slide {
  width: 380px;
}
.slider__slogan--second-slide {
  width: 515px;
}

.slider__slogan--third-slide {
  width: 410px;
}

.slider__plain-text {
  margin-bottom: 40px;
}
.slider__plain-text--first-slide {
  width: 368px;
}
.slider__plain-text--second-slide {
  width: 435px;
}
.slider__plain-text--third-slide {
  width: 370px;
}

.services__title {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}

.services__button {
  /*padding-top: 17px;*/
  /*padding-bottom: 19px;*/
}

.about-company__slogan,
.modal-writeus__title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
}

.about-company__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.about-company__percents {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.about-company__rpart-item .about-company__plain-text {
  line-height: 18px;
}

.contacts__subtitle {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
}

.contacts__plain-text,
.contacts__plain-text .contacts__tel {
  line-height: 1.125;
  font-style: normal;
}

.footer__slogan {
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
}

.footer__discount-text {
  line-height: 1.375;
}

.footer__social-button {
  color: #ffffff;
  background-color: #e1e1e1; /*TODO Убрать после стилизации значка*/
}

.footer__social-button:hover,
.footer__social-button:focus {
  color: #ffffff;
  border: 0;
  background-color: #e74246; /*TODO Убрать после стилизации значка*/
  outline: none;
}

.footer__social-button:active {
  color: #e37376;
  background-color: #d7373b; /*TODO Убрать после стилизации значка*/
}

.modal-writeus__label {
  line-height: 1.125;
  font-weight: 700;
}

.modal-form__input-item:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.modal-form__input-item:hover {
  border: 2px solid #b4b9bb;
}

.modal-form__input-item:focus {
  border: 2px solid #000000;
  color: #444444;
  outline: 0;
}

.modal-form__input-item {
  line-height: 1.125;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__cost-label {
  line-height: 1.375;
  color: #283136;
  text-transform: uppercase;
}

.filter__range-bounds {
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
}

/*.filter__grid-radiobutton:focus,*/
/*.filter__features-checkbox:focus {*/
/*outline:none;*/
/*}*/

.filter__grid-radiobutton:hover,
.filter__features-checkbox:hover,
.filter__grid-label:hover,
.filter__features-label:hover {
  color: #000000;
  line-height: 1.25;
}

.filter__grid-label:disabled,
.filter__features-label:disabled {
  color: rgba(00, 00, 00, 0.3);
}

.filter__grid-radiobutton,
.filter__features-checkbox,
.filter__grid-label,
.filter__features-label {
  color: #283136;
}

.catalog__sort-menu-subtitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__sort-menu-link,
.catalog__sort-ascdesc-link {
  line-height: 1.125;
  color: rgba(00, 00, 00, 0.3);
  text-transform: uppercase;
}

.catalog__sort-menu-link--active,
.catalog__sort-ascdesc-link--active,
.catalog__sort-menu-link:active,
.catalog__sort-ascdesc-link:active {
  color: #000000;
}

.catalog__sort-menu-link:hover,
.catalog__sort-ascdesc-link:hover,
.catalog__sort-menu-link:focus,
.catalog__sort-ascdesc-link:focus {
  color: rgba(00, 00, 00, 0.6);
}

.product-card__pricetag-link {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  color: #000000;
}

.product-card__pricetag-plain-text {
  line-height: 1.125;
}

/*.paginator__item {*/
/*text-align: center;*/
/*border: 3px solid #eeeeee;*/
/*background-color: #eeeeee;*/
/*!*box-sizing: border-box;*!*/
/*!*border-radius: 3px;*!*/
/*}*/

.paginator__link {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  background-color: #eeeeee;
}

.paginator__link:hover {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #d5d5d5;
  border-radius: 3px;
  background-color: #d5d5d5;
}

.paginator__link:focus {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #d5d5d5;
  border-radius: 3px;
  background-color: #d5d5d5;
  outline: none;
}

.paginator__link:active {
  color: rgba(00, 00, 00, 0.3);
}

.paginator__link--active {
  border: 3px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  box-sizing: border-box;
}
