@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
/*Основные стили */
/*TODO Проставить потом марджинги и пэддинги = 0 для всех списков. Чтобы от глобального уйти*/
* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  position: relative;

}

a {
  text-decoration: none;
}

.main-header-nav__list,
.slider__list,
.slider__switcher-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.services__list,
.about-company__rpart-list,
.partner-logo__list,
.about-company__lpart-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter__grid-list,
.filter__features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog__sort-menu-list,
.catalog__list,
.catalog__sort-ascdesc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Основные блоки и их модификаторы*/
/*TODO В IE11 надпись у кнопок уезжает вверх. Разобраться*/
/*TODO Надо сделать надписи туснеющими при нажатии. забыл*/
.button {
  display: inline-block;
  vertical-align: middle;
  min-height: 47px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.button--red {
  background-color: #fb565a;
  border-top: 3px solid #fb565a;
  /*border: none;*/
  /*box-shadow: inset 0 0 0 3px #c13135;*/
}

.button--red:focus,
.button--red:hover {
  background-color: #e74246;
  border-top: 3px solid #e74246;
  outline: none;
}

.button--red:active {
  background-color: #d7373b;
  border-top: 3px solid #c13135;
  /*min-height: 47px;*/

}

.button--green {
  background-color: #00ca74;
  border-top: 3px solid #00ca74;
}

.button--green:focus,
.button--green:hover {
  background-color: #00bc6c;
  border-top: 3px solid #00bc6c;
  outline: none;
}

.button--green:active {
  background-color: #00aa62;
  border-top: 3px solid #009958;
}

.button--yellow {
  background-color: #efc84a;
  border-top: 3px solid #efc84a;
}

.button--yellow:focus,
.button--yellow:hover {
  background-color: #eab534;
  border-top: 3px solid #eab534;
  outline: none;
}

.button--yellow:active {
  background-color: #e5a722;
  border-top: 3px solid #ce961f;
}

.button--grey {
  background-color: #eeeeee;
  color: #000000;
  border: none;
}

.button--grey:focus,
.button--grey:hover {
  background-color: #dfdfdf;
  border: none;
  outline: none;
}

.button--grey:active {
  background-color: #d5d5d5;
  color: rgba(00, 00, 00, 0.3);
  border: none;
  outline: none;
}

.text--grey {
  color: #666666;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

/*Блоки сетки*/
.outline22 { /*TODO Убрать потом*/
  outline: 1px solid red;
}

.outline23 { /*TODO Убрать потом*/
  outline: 1px solid blue;
}

.outline24 { /*TODO Убрать потом*/
  outline: 1px solid green;
}

.main-header {
  background-color: #eeeeee;
}

.external-container--header {
  background-color: #eeeeee;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container--header {
  padding-top: 49px;
  background-color: #eeeeee;
}

.external-container--main {
  background-color: #ffffff;
  /*TODO В IE11 этот отступ не воспринимается. Подумать,как сделать*/
  margin-bottom: 62px;

}

.main-header-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.main-header-nav__item {
  margin-left: 24px;
  margin-right: 24px;
}

.main-header-nav__item:last-child {
  margin-right: 0;
}

.main-header-nav__item:first-child {
  margin-left: 0;
}

.main-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.main-header-nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-left: 0;
}

.main-header__cart-container {
  width: 115px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px;
}

.slider {
  padding-left: 20px;
  padding-right: 20px;
}

.slider__item {
  min-height: 355px;
  padding-top: 78px;
  background-size: auto;
  background-repeat: no-repeat;
}

.slider__item--first-slide {
  background-image: url("../img/slide1.png");
  background-position: 430px 19px;
}

.slider__item--second-slide {
  background-image: url("../img/slide2.png");
  background-position: 495px 0;
  z-index: 2;
}

.slider__item--third-slide {
  background-image: url("../img/slide3.png");
  background-position: 400px 20px;
  z-index: 3;
}

.slider__button {
  width: 240px;
  margin-bottom: 80px;

}

/*Остальные блоки*/
.main-header-nav__logo-img {
  margin-right: 200px;
}

.main-header-nav__logo-img--catalog:hover,
.main-header-nav__logo-img--catalog:focus {
  opacity: 0.8;
}

.main-header-nav__logo-img--catalog:active {
  opacity: 0.3;
}

.main-header-nav__link,
.main-header__cart-link {
  line-height: 1.875;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header-nav__link:hover,
.main-header__cart-link:hover,
.main-header-nav__link:focus,
.main-header__cart-link:focus {
  color: #fb565a;
  outline: none;
}

.main-header-nav__link:active,
.main-header__cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__cart-link {
  position: relative;
}

.main-header__cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 6px;
  left: -39px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-nav__link--active {
  border-bottom: 2px solid #fb565a;
}

.slider__slogan {
  font-size: 55px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 25px;
}

.slider__slogan--first-slide {
  width: 380px;
}

.slider__slogan--second-slide {
  width: 515px;
}

.slider__slogan--third-slide {
  width: 410px;
}

.slider__plain-text {
  margin-bottom: 40px;
}

.slider__plain-text--first-slide {
  width: 368px;
}

.slider__plain-text--second-slide {
  width: 435px;
}

.slider__plain-text--third-slide {
  width: 370px;
}

.services {
  padding-left: 20px;
  padding-right: 20px;
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid #eeeeee;
}

.services__item {
  width: 300px;
  margin-right: 100px;
  padding-top: 79px;
}

.services__icon {
  margin-bottom: 17px;
}

.services__list:last-child {
  margin-right: 0;
}

.services__title {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.services__plain-text {
  margin-bottom: 32px;
}

.services__plain-text--web {
  width: 250px;
}

.services__plain-text--soft {
  width: 250px;
}

.services__plain-text--presentation {
  width: 250px;
}

.services__button {
  width: 160px;
  margin-bottom: 78px;
}

.about-company {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.about-company__left-part {
  width: 660px;
  margin-right: 140px;
  padding-top: 76px;
}

.about-company__slogan {
  width: 650px;
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 31px;
}

.about-company__plain-text {
  width: 617px;
  margin-bottom: 41px;
}

.about-company__lpart-item {
  text-indent: 36px;
  margin-bottom: 24px;
  position: relative;
}

.about-company__lpart-item::before {
  position: absolute;
  display: block;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 10px;
  left: 1px;
}

.about-company__lpart-list:last-child {
  margin-bottom: 74px;
}

.about-company__right-part {
  width: 360px;
  padding-top: 41px;
}

.about-company__nerds-img {
  margin-bottom: 30px;
}

.about-company__subtitle {
  font-weight: 700;
  text-transform: uppercase;
}

.about-company__subtitle--lpart {
  margin-bottom: 24px;
}

.about-company__subtitle--rpart {
  margin-bottom: 40px;
}

.centered {
  text-align: center;
}

.about-company__rpart-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.about-company__rpart-item {
  margin-right: 20px;
}

.about-company__rpart-list:last-child {
  margin-right: 0;
}

.about-company__percents {
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
}

.about-company__percents-text {
  margin-top: 16px;
  width: 100px;
  line-height: 1.313;
}

.about-company__rpart-item .about-company__plain-text {
  line-height: 18px;
}

.partner-logo {
  /*width: 100px;*/
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
}

.partner-logo__list {
  padding-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.partner-logo__item {
  position: relative;
  width: 297px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}

.partner-logo__item:first-child {
  width: 282px;
}

.partner-logo__item:last-child {
  width: 280px;

}

.partner-logo__item:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  right: 0;
  bottom: 30px;
}

.partner-logo__link {
  opacity: 0.2;
}

.partner-logo__link:hover,
.partner-logo__link:focus {
  opacity: 1;
}

.partner-logo__link:active {
  opacity: 0.1;
}

.partner-logo__pict {
  display: block;
}

/*Крайние справа/слева лого партнеров позиционирую отдельно. Т.к. рисунки все разной ширины. Просто так в PP не попадешь*/
.partner-logo__pict--left-logo {
  position: absolute;
  top: 15px;
  left: 30px;
}

.partner-logo__pict--right-logo {
  position: absolute;
  top: 4px;
  left: 64px;
}

.contacts {
  display: block;
  text-align: center;
}

.container--contacts {
  position: relative;
}

.contacts__requisites {
  width: 319px;
  position: absolute;
  top: 52px;
  left: 22px;
  background-color: #ffffff;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  text-align: left;
}

.contacts__subtitle {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  margin-bottom: 22px;
}

.contacts__address-text {
  width: 202px;
  margin-bottom: 15px;
}

.contacts__address-text,
.contacts__address-text .contacts__tel {
  line-height: 1.125;
  font-style: normal;
}

.contacts__tel-text {
  margin-bottom: 35px;
}

.contacts__button {
  width: 219px;
  margin-bottom: 47px;
  display: inline-block;
}

.contacts_map {
  margin-bottom: 62px;
}

.footer {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

.footer__slogan {
  display: block;
  font-size: 36px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer__discount-text {
  line-height: 1.375;
}

.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 127px;
}

.footer__list:last-child {
  margin-right: 0;
}

.footer__social-button {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 12px;
  background-color: #e1e1e1;
  position: relative;
}

.footer__social-button--vk::before {
  content: "";
  width: 26px;
  height: 15px;
  position: absolute;
  top: 32px;
  left: 27px;
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__social-button--vk:active::before {
  opacity: 0.3;
}

.footer__social-button--fb::before {
  content: "";
  width: 12px;
  height: 22px;
  position: absolute;
  top: 29px;
  left: 33px;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__social-button--fb:active::before {
  opacity: 0.3;
}

.footer__social-button--insta::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 29px;
  left: 29px;
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer__social-button--insta:active::before {
  opacity: 0.3;
}

.footer__social-button:hover,
.footer__social-button:focus {
  background-color: #e74246;
  outline: none;
}

.footer__social-button:active {
  background-color: #d7373b;
}

/*Стилизация модального окна "Напишите нам"*/
.modal-window-container {
  width: 960px;
  padding-top: 67px;
  padding-left: 100px;
  position: absolute;
  top: 1706px;
  left: 470px;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(00, 00, 00, 0.5);
  background-color: #ffffff;

}

.modal-writeus__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.modal-writeus__title {
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  margin-right: 440px;
}

.modal-close-button {
  width: 22px;
  height: 22px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  opacity: 0.3;
  border: none;
  align-self: center;
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 1;
  outline: none;
}

.modal-close-button:active {
  opacity: 0.1;
}

.modal-writeus__form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 84px;
}

.modal-writeus__form-internal-container {
  width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.modal-writeus__form-item {
  width: 360px;
}

.modal-form__input-item {
  width: 360px;
  height: 50px;
  box-sizing: border-box;
  min-height: 33px;
  margin-bottom: 30px;
}

.modal-form__input-item[placeholder] {
  text-indent: 15px;
}

.modal-form__text-area {
  width: 100%;
  height: 100px;
  margin-bottom: 47px;
  padding-top: 15px;
}

.modal-form__text-area[placeholder] {
  text-indent: 15px;
}

.modal-writeus__label {
  line-height: 1.125;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.modal-form__input-item:invalid {
  border: 2px solid #e74246;
  border-radius: 3px;
  color: #e74246;
}

.modal-form__input-item:hover,
.modal-form__text-area:hover {
  border: 2px solid #b4b9bb;
}

.modal-form__input-item:focus,
.modal-form__text-area:focus {
  border: 2px solid #000000;
  color: #444444;
  outline: 0;
}

.modal-form__input-item,
.modal-form__text-area {
  line-height: 1.125;
  border: 2px solid #d7dcde;
  color: rgba(68, 68, 68, 0.5);
}

.modal-writeus__submit-button {
  width: 260px;
}

.filter__fieldset {
  border: none;
}

.filter__legend {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  text-transform: uppercase;
}

.filter__cost-label {
  line-height: 1.375;
  color: #283136;
  text-transform: uppercase;
}

.filter__range-bounds {
  border: 1px solid #eeeeee;
  background-color: #eeeeee;
}

.filter__grid-radiobutton:hover,
.filter__features-checkbox:hover,
.filter__grid-label:hover,
.filter__features-label:hover {
  color: #000000;
  line-height: 1.25;
}

.filter__grid-label:disabled,
.filter__features-label:disabled {
  color: rgba(00, 00, 00, 0.3);
}

.filter__grid-radiobutton,
.filter__features-checkbox,
.filter__grid-label,
.filter__features-label {
  color: #283136;
}

.catalog__sort-menu-subtitle {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog__sort-menu-link,
.catalog__sort-ascdesc-link {
  line-height: 1.125;
  color: rgba(00, 00, 00, 0.3);
  text-transform: uppercase;
}

.catalog__sort-menu-link--active,
.catalog__sort-ascdesc-link--active,
.catalog__sort-menu-link:active,
.catalog__sort-ascdesc-link:active {
  color: #000000;
}

.catalog__sort-menu-link:hover,
.catalog__sort-ascdesc-link:hover,
.catalog__sort-menu-link:focus,
.catalog__sort-ascdesc-link:focus {
  color: rgba(00, 00, 00, 0.6);
}

.product-card__pricetag-link {
  font-size: 18px;
  line-height: 1.667;
  font-weight: 700;
  color: #000000;
}

.product-card__pricetag-plain-text {
  line-height: 1.125;
}

/*.paginator__item {*/
/*text-align: center;*/
/*border: 3px solid #eeeeee;*/
/*background-color: #eeeeee;*/
/*!*box-sizing: border-box;*!*/
/*!*border-radius: 3px;*!*/
/*}*/

.paginator__link {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  background-color: #eeeeee;
}

.paginator__link:hover {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #d5d5d5;
  border-radius: 3px;
  background-color: #d5d5d5;
}

.paginator__link:focus {
  line-height: 1.125;
  font-weight: 500;
  text-align: center;
  color: #000000;
  border: 3px solid #d5d5d5;
  border-radius: 3px;
  background-color: #d5d5d5;
  outline: none;
}

.paginator__link:active {
  color: rgba(00, 00, 00, 0.3);
}

.paginator__link--active {
  border: 3px solid #dbdbdb;
  border-radius: 3px;
  background-color: #ffffff;
  box-sizing: border-box;
}
